.hero{
    height:320px;
    background:#16273d;
    border-bottom:1px solid #223853;
}

.hero__background{
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:42px;
}